/* 스타일시트 */
/* 기본 초기화 */
*{margin: 0;padding: 0; box-sizing: border-box; text-decoration: none; list-style: none;}

/* 클래스 셋업 */
.hidden{display: none;}

/* 팝업창 */
#popup{
    width: 30vw;
    height: 30vh;
    display: none;
    position: absolute;
    z-index: 3;
    background-color: lightgray;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#container{
    width: 1200px;
    height: 700px;
    background-color: lightgreen;
    
    
}
#nav{
    width: 1200px;
    height: 100px;
    background-color: lightsteelblue;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#logo{
    width: 200px;
    height: inherit;
    background-color:lightpink ;
}
#menu {
    width: 600px;
    height: 50px;
    background-color: orchid;
}
#menubg{
    width: 1200px;
    height: 200px;
    background-color: goldenrod;
    position: absolute;
    top: 100px;
    /* display: none; */
}
#menubox{
    width: 600px;
    height: auto;
    display: flex;
    z-index: 1;
    border: 1px solid black;
}
#menubox > li {
    width: 25%;
    height:50px;
    /* background-color: red; */
    border: 1px solid purple;
    z-index: 1;
    position: relative;
}
.sub {
    width: 100%;
    height: 200px;
    position: relative;
    top: 28px;
}
.sub li {
    height: 50px;
    border: 1px solid white;
}
#mainvisual {
    width: 1200px;
    height: 300px;
    background-color: indigo;
    overflow: hidden;
}
    #slidebox{
        width: 3600px;
        height: 300px;
        display: flex;
    }

#slide1 {
    width: 1200px;
    height: 300px;
    background-color: navajowhite;
    
    
}
#slide2 {
    width: 1200px;
    height: 300px;
    background-color: goldenrod;
}
#slide3 {
    width: 1200px;
    height: 300px;
    background-color: blue;
}
#subvisual {
    width: 1200px;
    height: 200px;
    background-color: lavenderblush; 
    display: flex;
}
#subvisual section {
    width: 400px;
    height: inherit;
    border: 1px solid black;
}

#footer {
    width: 1200px;
    height: 100px;
    background-color: lightcoral;
    display:flex;
    
    
}
#footermenu {
    width: 900px;
    height: 50px;
    background-color: lime;
    
}
#copylight{
    width: 900px;
    height: 50px;
    background-color: mediumblue;
    

}
#family {
    width: 300px;
    height: 100px;
    background-color: mediumvioletred;
}